include LICENSE
include README.md
include pyproject.toml
include requirements*.txt
include manage.py
recursive-include setty/tests *.py
include tox.ini
recursive-include app *.py
recursive-include example *.py
recursive-include example *.txt
